
{% extends 'base.html.twig' %}
{% block home %}
<link href="{{ asset('css/styles.css' )}}" rel="stylesheet" />
{% block javascript %}
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <script src="{{ asset("js/ajax_name.js") }}">
    </script>
    <script src="{{ asset("js/ajax_category.js") }}">
    </script>

{% endblock %}
{% block content %}
    <div style="width: 100vw;">
        <div style="display: flex; justify-content:center; align-items:center; column-gap: 30px; width: 90%; margin-bottom: 20px;">
            <form style="display: flex; justify-content:center; align-items:center; flex-direction: column;">
                <label for="input_text">Search by name</label>
                <input id="input_text" type="text" placeholder="Green, Blue, Yellow...">
            </form>
            <form id="form_categories"  style="display: flex; justify-content:center; align-items:center; flex-direction: column; row-gap:5px;">
                <label>Search by category</label>
                {{ form_start(formProduct) }}
                {{ form_widget(formProduct) }}

                <button type="submit" style="background-color: rgb(185, 152, 110); color:white; border-radius:10px; border: none; font-weight: 600;">Search</button>
                {{ form_end(formProduct) }}
            </form>
        </div>
        <div id="resultado2" style="display: flex; flex-wrap:wrap;  gap:20px">
            {% for product in products %}
            <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" width="180" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ product.name }}</h5>
                        <!-- Product price-->
                        tipo: {{ product.category.name }}<img src="{{ product.category.icon }}" alt="{{ product.name }}" width="30">
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% endblock %}
